@import "variables";
@import "navbar";
@import "media-queries";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

// .videography {
//     display: flex;
//     align-items: center;
//     z-index: 3;
// }


.hero {
    background-color: $light;

    &-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        height: 100vh;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding-right: 24px;
        padding-left: 24px;

        @include tablet {
            grid-template-columns: 1fr;
            height: 100%
        }

        &--left {
            width: 100%;
            line-height: 1.2;

            @include tablet {
                padding: 5rem 0;
            }

            @include mobile {
                line-height: 1.5;
            }
        }

        &--left h1 {
            font-size: 4rem;
            color: $white;

            @include mobile {
                font-size: 1.5rem;
            }
        }

        &--left h2 {
            font-size: 4rem;
            color: $mid;

            @include mobile {
                font-size: 2rem;
            }
        }

        &--left p {
            font-size: 2rem;
            color: $dark;
            margin-top: 1rem;
            font-weight: 666;

            @include mobile {
                font-size: 1.5rem;
            }
        }

        &--btn {
            font-size: 1rem;
            background-color: $purp;
            padding: 14px 32px;
            border: none;
            border-radius: 4px;
            color: $light;
            margin-top: 2rem;
            cursor: pointer;
            position: relative;
            transition: all 0.5s ease-in-out;
            outline: none;
        }

        &--btn a {
            position: relative;
            z-index: 2;
            // color: $light;
            text-decoration: none;
            transition: all 0.5s ease-in-out;

        }

        &--btn:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            background: $lime;
            // color: $dark;
            transition: all 0.5s ease-in-out;
            border-radius: 4px;
        }

        &--btn:hover:after {
            width: 100%;
            color: $dark;
            transition: all 0.5s ease-in-out;
        }

        &--right {
            text-align: center;
        }

        &--img {
            height: 100%;
            width: 100%;
        }
    }
}